[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
dockWindowBehavior=true
enableKWinEdges=true
formfactor=3
immutability=1
lastScreen=-1
location=6
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=42

[Containments][1][Applets][2][Configuration][General]
launchers59=applications:org.kde.dolphin.desktop

[Containments][1][ConfigDialog]
DialogHeight=696
DialogWidth=599

[Containments][1][Configuration]
PreloadWeight=42

[Containments][1][General]
activeIndicatorType=DotIndicator
advanced=true
appletOrder=2
iconSize=48
panelSize=10
reverseLinesPosition=true
shadowOpacity=60
shadowSize=45
shadows=All
showGlow=false
showOnlyCurrentActivity=false
showToolTips=true
useThemePanel=false
zoomLevel=5

[LayoutSettings]
activities=
background=
color=blue
disableBordersForMaximizedWindows=false
lastUsedActivity=d50b589d-86b7-4219-9378-e66e92781e23
launchers=
showInMenu=true
textColor=fcfcfc
version=2
