[Containments][1][Applets][5][Configuration]
PreloadWeight=92

[Containments][1][Applets][61][Configuration]
PreloadWeight=27

[Containments][6][Applets][12][Configuration]
PreloadWeight=22

[Containments][6][Applets][7][Configuration]
PreloadWeight=0

[LayoutSettings]
lastUsedActivity=d50b589d-86b7-4219-9378-e66e92781e23
