[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[AppletGlobals][org.kde.plasma.notifications]
popupPosition=2

[Containments][1]
activityId=
dockWindowBehavior=true
enableKWinEdges=true
formfactor=3
immutability=1
lastScreen=10
location=6
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
PreloadWeight=76
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=0

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:google-chrome-unstable.desktop,applications:org.kde.dolphin.desktop,applications:clementine.desktop,applications:org.keepassxc.KeePassXC.desktop

[Containments][1][Applets][61]
immutability=1
plugin=org.kde.plasma.simplemenu

[Containments][1][Applets][61][Configuration]
PreloadWeight=35

[Containments][1][Applets][61][Configuration][General]
favoritesPortedToKAstats=true

[Containments][1][Applets][65]
immutability=1
plugin=org.kde.plasma.lock_logout

[Containments][1][Applets][65][Configuration]
PreloadWeight=0

[Containments][1][Applets][65][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][ConfigDialog]
DialogHeight=663
DialogWidth=571

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=true
appletOrder=61;57;5;65
autoDecreaseIconSize=false
disablePanelShadowForMaximized=true
iconMargin=0
iconSize=48
maxLength=66
panelPosition=10
panelShadows=false
panelSize=100
reverseLinesPosition=true
shadowOpacity=35
shadowSize=45
showOnlyCurrentActivity=false
showToolTips=true
shrinkThickMargins=true
splitterPosition=2
splitterPosition2=3
useThemePanel=false
zoomLevel=3

[Containments][6]
PreloadWeight=0
activityId=
formfactor=3
immutability=1
lastScreen=10
location=6
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][10][Configuration]
PreloadWeight=0

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][11][Configuration]
PreloadWeight=0

[Containments][6][Applets][11][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][6][Applets][12]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][6][Applets][12][Configuration]
PreloadWeight=0

[Containments][6][Applets][12][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][13][Configuration]
PreloadWeight=0

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][16][Configuration]
PreloadWeight=0

[Containments][6][Applets][17]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][6][Applets][17][Configuration]
PreloadWeight=0

[Containments][6][Applets][58]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][6][Applets][58][Configuration]
PreloadWeight=0

[Containments][6][Applets][59]
immutability=1
plugin=org.kde.plasma.vault

[Containments][6][Applets][59][Configuration]
PreloadWeight=0

[Containments][6][Applets][59][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][6][Applets][66]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][67]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][6][Applets][67][Configuration]
PreloadWeight=26

[Containments][6][Applets][7]
immutability=1
plugin=org.kde.kdeconnect

[Containments][6][Applets][7][Configuration]
PreloadWeight=0

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][6][Applets][9][Configuration]
PreloadWeight=0

[Containments][6][Applets][9][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.vault
knownItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.vault

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=false
globalLaunchers=
lastUsedActivity=d50b589d-86b7-4219-9378-e66e92781e23
launchers=
showInMenu=true
textColor=fcfcfc
version=2
