[Desktop Entry]
Type=Application
Exec="/usr/bin/devilspie2"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Devilspie2
Comment=Start Devilspie2 Window Manipulator
